.bride_name_heading {
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
    color: rgb(97, 47, 47);
    font-weight: 700;
    line-height: 0.5;
}

.bride_name_sub {
    font-family: 'Cormorant Garamond', serif;
    color: rgb(97, 47, 47);
    font-size: 1.5rem;
}

.bride_name_and {
    font-family: 'Great Vibes', cursive;
    color: rgb(97, 47, 47);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.groom_name_heading {
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
    color: rgb(97, 47, 47);
    font-weight: 700;
    line-height: 0.5;
}

.groom_name_sub {
    font-family: 'Cormorant Garamond', serif;
    color: rgb(97, 47, 47);
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .bride_name_heading {
        font-size: 5.5rem;
    }

    .bride_name_sub {
        font-size: 1.4rem;
    }

    .groom_name_heading {
        font-size: 5.5rem;
    }

    .groom_name_sub {
        font-size: 1.4rem;
    }
   
}